<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
        .table td,
        .table th {
            padding: .5rem;
        }
    </style>
</head>

<body class="container">
    <table class="table table-borderless" style="width: 100%;">
        <tr>
            <td class="text-center">
                <img width="150px" src="https://bkpsdm.bintankab.go.id/upload/profil_web/0624D235-B887-4FC2-B783-961BFF87B559.png" alt="">
            </td>
            <td class="text-center">
                <h4>Pemerintah Kabupaten Dogiyai</h4>
                <h5>Badan Kepegawaian dan Pengembangan Sumber Daya Manusia</h5>
                <H5>Provinsi Papua Tengah</H5>
                <H6>Alamat: Jl. Trans Nabire-Enarotali KM. 200 Kigamani Dogiyai</H6>
            </td>
        </tr>
    </table>
    <hr style="border: 2px solid black;">
    <table class="table table-borderless" style="width: 100%;">
        <tr>
            <td colspan="10" class="text-center">
                <h6>DAFTAR PESERTA UJIAN DINAS</h6>
            </td>
        </tr>
    </table>
    <table class="table table-striped table-bordered" style="width: 100%;">
        <thead class="bg-info">
            <tr>
                <td>No</td>
                <td>Nama Pegawai</td>
                <td>NIP</td>
                <td>Pang & Gol</td>
                <td>Jabatan</td>
                <td>Unit Kerja</td>
                <td>Instansi</td>
                <td>Jenis Ujian</td>
                <td>Foto</td>
                <td>Keterangan</td>
            </tr>
        </thead>
    </table>
</body>

</html>
